.logo-item {
    transition: transform 0.3s ease-out;
    transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}


.logo-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-mask-image: -webkit-linear-gradient(left, transparent 0%, black 5%, black 95%, transparent 100%);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
    -webkit-perspective: 1000;
}

.animate-scroll {
    will-change: transform;
    display: flex;
    animation: scroll 25s linear infinite;
    animation-fill-mode: both;
    min-width: 100%;
    white-space: nowrap;
    gap: 2rem;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translate3d(0, 0, 0);
}

.logo-wrapper {
    display: flex;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
