/* src/fonts.css */
@font-face {
    font-family: 'Vogca';
    src: url('./assets/fonts/vogca.ttf') format('truetype'),
         url('./assets/fonts/vogca.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Insomatte';
    src: url('./assets/fonts/Insomatte-Regular-BF66a356c463e1b.ttf') format('truetype'),
         url('./assets/fonts/Insomatte-Regular-BF66a356c463e1b.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mogilte';
    src: url('./assets/fonts/Mogilte.otf') format('opentype'),
         url('./assets/fonts/Mogilte.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pethra';
    src: url('./assets/fonts/Pethra.otf') format('opentype'),
         url('./assets/fonts/Pethra.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
